.App {
  max-width: 700px;
  margin: 0 auto;
}

.App h1 {
  font-size: 60px;
  text-align: center;
  color: blueviolet;
  margin: 10px;
}
.App-header img {
  max-width: 300px;
  display: block;
  margin: 15px auto;
}
.App img {
  max-width: 192px;
  display: block;
  margin: 10px auto;
}

.App footer {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
a{
  color: blueviolet;
}

@media (max-width: 700px) {
  .App h1{
      font-size: 40px;
  }
  .Main-content img {
    display: none;
  }
  .Photos-link{
    display: none;
  }
}
