.App {
  max-width: 700px;
  margin: 0 auto;
}

.App h1 {
  font-size: 60px;
  text-align: center;
  color: var(--first-color);
  margin-top: 20px;
}

.App img {
  max-width: 192px;
  display: block;
  margin: 10px auto;
}
.App-header img {
  max-width: 250px;
  display: block;
  margin: 0 auto;
}
.App footer {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
a {
  color: var(--first-color);
}

@media (max-width: 700px) {
  .App h1 {
    font-size: 40px;
  }
  .Main-content img {
    display: none;
  }
  .Photos-link {
    display: none;
  }
}
